<?xml version="1.0"?>
<launch>
	<arg name="coverage_area_offset" default="-5.0 -5.0 0 0 0 0"/>
	<arg name="coverage_area_size_x" default="10"/>
	<arg name="coverage_area_size_y" default="10"/>
	<arg name="tool_radius" default="0.175"/>

	<include file="$(find wild_thumper)/launch/move_base.launch">
		<arg name="base_global_planner" value="full_coverage_path_planner/SpiralSTC"/>
		<arg name="base_local_planner" value="pose_follower/PoseFollower"/>
		<arg name="tool_radius" value="$(arg tool_radius)"/>
	</include>

	<!-- Launch coverage progress tracking -->
	<node pkg="tf" type="static_transform_publisher" name="map_to_coveragemap" args="$(arg coverage_area_offset) map coverage_map 100" />
	<node pkg="full_coverage_path_planner" type="coverage_progress" name="coverage_progress">
		<param name="~target_area/x" value="$(arg coverage_area_size_x)" />
		<param name="~target_area/y" value="$(arg coverage_area_size_y)" />
		<param name="~coverage_radius" value="$(arg tool_radius)" />
		<remap from="reset" to="coverage_progress/reset" />
		<param name="~map_frame" value="/coverage_map"/>
	</node>
</launch>
